.hero {
  padding-bottom: 200px;
}
.hero__block {
  background-color: #293039;
  padding-top: 100px;
  border-radius: 12px;
  padding-bottom: 86px;
  position: relative;
}
.hero__wrap{
    position: absolute;
    width: 100%;
    height: 240px;
    border-radius: 12px;
    background-color: #293039;
    z-index: -1;
    bottom: -213px;
}
.hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
margin-bottom: 32px;
  color: #fefcf7;
}
.hero__text {
  max-width: 540px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  opacity: 0.8;
  margin: 0 auto;
}

.hero__bottom-list{
    max-width: 1110px;
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero__bottom-item{
    padding: 72px 48px 48px 47px;
    background-color: #0e8784;
    border-radius: 8px;
    max-width: 350px;
    text-align: center;

    &::before{
        content: "";
        width: 72px;
        height: 72px;
        display: inline-block;
        margin-bottom: 56px;
        background-repeat: no-repeat;
        background-image: url(/image/coffee-bean1221212211122212122.svg);
    }
}
.hero__bottom-itemes{
    padding: 72px 48px 48px 47px;
    background-color: #0e8784;
    border-radius: 8px;
    max-width: 350px;
    text-align: center;

    &::before{
        content: "";
        width: 72px;
        height: 72px;
        display: inline-block;
        margin-bottom: 56px;
        background-repeat: no-repeat;
        background-image: url(/image/gift.svg);
    }
}
.hero__bottom-itemed{
    padding: 72px 48px 48px 47px;
    background-color: #0e8784;
    border-radius: 8px;
    max-width: 350px;
    text-align: center;

    &::before{
        content: "";
        width: 72px;
        height: 72px;
        display: inline-block;
        margin-bottom: 56px;
        background-repeat: no-repeat;
        background-image: url(/image/deliver.svg);
    }
}
.hero__bottom-title{
    font-family: 'Fraunces';
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #FEFCF7;
margin-bottom: 24px;
}
.hero__bottom-text{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    
}
@media screen and (max-width:1000px) {
    .hero__bottom-list{
        flex-direction: column;
    }
    .hero__bottom-itemes,.hero__bottom-itemed,.hero__bottom-item{
        max-width: 100%;
        width: 100%;
        display: flex;
        padding: 41px 48px 41px 70px;
        align-items: center;
        text-align: start;
      
    }
    .hero__bottom-contennt{
        margin-left: 70px;
       
    }
    .hero__bottom-item::before{
        flex-shrink: 0;
        margin-bottom: 0;
    }
    .hero__bottom-itemes::before{
        flex-shrink: 0;
        margin-bottom: 0;
    }
    .hero__bottom-itemed::before{
        flex-shrink: 0;
        margin-bottom: 0;
    }
    .hero__wrap{
        bottom: -322;
        height: 363px;
    }
}
@media screen and (max-width:700px) {
 
    .hero__bottom-itemes,.hero__bottom-itemed,.hero__bottom-item{
        max-width: 350px;
        padding: 72px 48px 48px 47px;
      flex-direction: column;
        text-align: center;
      
    }
    .hero__bottom-contennt{
        margin-left: 0px;
       
    }
    .hero__bottom-item::before{
        flex-shrink: 0;
        margin-bottom: 56px;
    }
    .hero__bottom-itemes::before{
        flex-shrink: 0;
        margin-bottom: 56px;
    }
    .hero__bottom-itemed::before{
        flex-shrink: 0;
        margin-bottom: 56px;
    }
    .hero__wrap{
        bottom: -322;
        height: 363px;
    }
    .hero__text{
        padding: 0 24px;
    }
}